# üß© Reto 3 ‚Äì Ox√≠geno disuelto
**Objetivo:** evaluar riesgo ecol√≥gico seg√∫n ox√≠geno disuelto.

**Datos:** `../data/muestras_calidad_agua.csv`

### Pasos
1. Carga el CSV en `df`.
2. Extrae `sitio` y `oxigeno`.
3. Crea `nivel_oxigeno` (bajo/medio/alto).
4. Crea `riesgo_biologico` (‚ö† si ox√≠geno < 5).
5. Filtra y exporta `resultado_oxigeno.csv`.

> **Reto adicional:** porcentaje de sitios con riesgo.

In [5]:
import pandas as pd

# Cargar el archivo
df = pd.read_csv('../data/muestras_calidad_agua.csv')

In [ ]:

#Mostrar nueva dataframe
df_oxi = df[['sitio', 'oxigeno']].copy()

display(df_oxi.head())

                          sitio  oxigeno
0                R√≠o Subachoque      7.8
1   Quebrada Honda (Facatativ√°)      6.2
2          R√≠o Botello (Madrid)      5.9
3  Afluente San Jos√© (El Rosal)      8.3
4                   R√≠o Villeta      6.1

In [ ]:
#Definir nivel de oxigeno
def nivel_oxigeno(valor):
    if valor < 5:
        return 'bajo'
    elif valor < 7:
        return 'medio'
    else:
        return 'alto'

df_oxi['nivel_oxigeno'] = df_oxi['oxigeno'].apply(nivel_oxigeno)

display(df_oxi.head())

                          sitio  oxigeno nivel_oxigeno
0                R√≠o Subachoque      7.8          alto
1   Quebrada Honda (Facatativ√°)      6.2         medio
2          R√≠o Botello (Madrid)      5.9         medio
3  Afluente San Jos√© (El Rosal)      8.3          alto
4                   R√≠o Villeta      6.1         medio

In [ ]:
# Riesgo biol√≥gico si ox√≠geno < 5
df_oxi['riesgo_biologico'] = df_oxi['oxigeno'] < 5

display(df_oxi.head())

                          sitio  oxigeno nivel_oxigeno  riesgo_biologico
0                R√≠o Subachoque      7.8          alto             False
1   Quebrada Honda (Facatativ√°)      6.2         medio             False
2          R√≠o Botello (Madrid)      5.9         medio             False
3  Afluente San Jos√© (El Rosal)      8.3          alto             False
4                   R√≠o Villeta      6.1         medio             False

In [9]:
# Exportar el resultado
df_oxi.to_csv('../data/resultado_oxigeno.csv', index=False)
print("Archivo '../data/resultado_oxigeno.csv' exportado correctamente.")

Archivo '../data/resultado_oxigeno.csv' exportado correctamente.