In [32]:
#carga de datos 
import pandas as pd
import numpy as np

df = pd.read_csv('muestras_calidad_agua.csv')
df.head()

                          sitio   pH  oxigeno  temperatura
0                Río Subachoque  7.2      7.8         18.5
1   Quebrada Honda (Facatativá)  6.3      6.2         19.4
2          Río Botello (Madrid)  6.8      5.9         22.7
3  Afluente San José (El Rosal)  7.9      8.3         20.1
4                   Río Villeta  8.7      6.1         28.3

In [34]:
df_temp = df[['sitio', 'temperatura']]
df_temp.head()

#Extraer datos especificos

                          sitio  temperatura
0                Río Subachoque         18.5
1   Quebrada Honda (Facatativá)         19.4
2          Río Botello (Madrid)         22.7
3  Afluente San José (El Rosal)         20.1
4                   Río Villeta         28.3

In [49]:
#datos de riesgo termico y categoria de temperatura 
df_temp['riesgo_termico'] = np.where(df_temp['temperatura'] > 28, 'Sí', 'No')
df_temp['categoria_temp'] = np.where(df_temp['temperatura'] < 20, 'Fría',
np.where(df_temp['temperatura'] <= 28, 'Moderada', 'Caliente'))

df_temp

                           sitio  temperatura riesgo_termico categoria_temp
0                 Río Subachoque         18.5             No           Fría
1    Quebrada Honda (Facatativá)         19.4             No           Fría
2           Río Botello (Madrid)         22.7             No       Moderada
3   Afluente San José (El Rosal)         20.1             No       Moderada
4                    Río Villeta         28.3             Sí       Caliente
5  Quebrada Cune (San Francisco)         25.2             No       Moderada
6            Río Tobia (Nocaima)         26.9             No       Moderada
7       Quebrada Negra (La Vega)         24.4             No       Moderada
8          Río Bahamón (Sasaima)         27.6             No       Moderada
9        Río Guayuriba (La Mesa)         30.5             Sí       Caliente

In [29]:
df_caliente = df_temp[df_temp['riesgo_termico'] == 'Sí']
df_caliente

                     sitio  temperatura categoria_temp riesgo_termico
4              Río Villeta         28.3       Caliente             Sí
9  Río Guayuriba (La Mesa)         30.5       Caliente             Sí

In [31]:
porcentaje_riesgo = (df_temp['riesgo_termico'].value_counts(normalize=True)['Sí']) * 100
print(f"Porcentaje de sitios con riesgo térmico: {porcentaje_riesgo:.2f}%")

Porcentaje de sitios con riesgo térmico: 20.00%

In [52]:
#linea para guardar la tabla final de "resultado_temperatura" en ruta de archivo csv
df_temp.to_csv('resultado_temperatura.csv', index=False)